html {
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 0px;
}

table{
	border:1px solid #3F71B3;
	width:95%;
}


th.popis{
	background-color: #E0ECFF;
	font-size: 14px;
	font-weight: bold;
	border-width: 1px;
	border-style: none;
}

th{
	background-color: #C3D9FF;
	border-width: 1px;
	border-style: solid;
	font-family: arial;
	font-size: 22px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}

tr{
	background-color: #E8EEF7;
	border-width: 1px;
	border-style: solid;
	font-family: arial;
	font-size: 12px;
	font-weight: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.name{
	font-weight: bold;
}

h3.productName{
    position:absolute;
    font-family: times;
	font-size: 48px;
	color: black;
	top: 35px;
    left:150px;
	display: block;
}

h2{
	text-align: left;
}

div{
	text-align: left;
	margin: 0ex 5% 1em 0px; 
	padding:10px 30px;
	border:1px ridge #3F71B3;
	font-size:12pt;
	color:black;
	font-weight: bold;
	background-color: #739BCE;
}

h1{
	text-align: center;
}

img.logo{
    position:absolute;
    top: 0px;
    left:0px;   
}

a{
	display:block;
	white-space:nowrap;
	margin:0; padding:0px;
	color:black;
	font-weight: bold;
	font-size:12px;
}

a:hover{
	background:#C3D9FF;
	color:black; 
}