<interface
    xmlns="http://umlfri.org/xmlschema/publicApi.xsd"
    name="org.umlfri.api.gui.Menu">
    
    <documentation>
        ...
    </documentation>
    
    <method name="addMenuItem">
        <documentation>
            Adds a new menu item with label to the menu.
        </documentation>
        
        <parameter name="guiId" type="string">
            <documentation>
                Menu item unique ID.
            </documentation>
        </parameter>
        <parameter name="callback" type="org.umlfri.api.gui.BasicEventHandler">
            <documentation>
                Callback function delegate.
            </documentation>
        </parameter>
        <parameter name="position" type="int32">
            <documentation>
                Menu item position.
            </documentation>
        </parameter>
        <parameter name="label" type="string">
            <documentation>
                Menu item label.
            </documentation>
        </parameter>
        <parameter name="underline" type="boolean" required="false" default="true">
            <documentation>
                Use underline as keyboard shortcut identifier in label text.
            </documentation>
        </parameter>
        <parameter name="imageFileName" type="string" required="false">
            <documentation>
                Full path to menu item image.
            </documentation>
        </parameter>
        
        <return type="org.umlfri.api.gui.MenuItem" />
    </method>
    
    <method name="addStockMenuItem">
        <documentation>
            Adds a new themed menu item to the menu.
        </documentation>
        
        <parameter name="guiId" type="string">
            <documentation>
                Menu item unique ID.
            </documentation>
        </parameter>
        <parameter name="callback" type="org.umlfri.api.gui.BasicEventHandler">
            <documentation>
                Callback function delegate.
            </documentation>
        </parameter>
        <parameter name="position" type="int32">
            <documentation>
                Menu item position.
            </documentation>
        </parameter>
        <parameter name="stock" type="string">
            <documentation>
                Theme icon identifier.
            </documentation>
        </parameter>
        <parameter name="label" type="string" required="false">
            <documentation>
                Menu item label.
            </documentation>
        </parameter>
        
        <return type="org.umlfri.api.gui.MenuItem" />
    </method>
    
    <method name="addCheckMenuItem">
        <documentation>
            Adds a new themed menu item to the menu.
        </documentation>
        
        <parameter name="guiId" type="string">
            <documentation>
                Menu item unique ID.
            </documentation>
        </parameter>
        <parameter name="callback" type="org.umlfri.api.gui.BasicEventHandler">
            <documentation>
                Callback function delegate.
            </documentation>
        </parameter>
        <parameter name="position" type="int32">
            <documentation>
                Menu item position.
            </documentation>
        </parameter>
        <parameter name="label" type="string">
            <documentation>
                Menu item label.
            </documentation>
        </parameter>
        <parameter name="underline" type="boolean" required="false" default="true">
            <documentation>
                Use underline as keyboard shortcut identifier in label text.
            </documentation>
        </parameter>
        
        <return type="org.umlfri.api.gui.MenuItem" />
    </method>
    
    <method name="addSeparator">
        <documentation>
            Adds a new separator to the menu.
        </documentation>
        
        <parameter name="guiId" type="string">
            <documentation>
                Separator unique ID.
            </documentation>
        </parameter>
        <parameter name="position" type="int32">
            <documentation>
                Separator position.
            </documentation>
        </parameter>
        
        <return type="org.umlfri.api.gui.Separator" />
    </method>
    
    <property name="items">
        <documentation>
            Contains all menu items. It can be used to to iterate over them,
            or access one of them through guiId.
        </documentation>
        <index type="string" name="guiId" />
        <value type="org.umlfri.api.gui.MenuItem" readable="true" iterable="true">
        <getter apiname="GetItem" />
        <iterator apiname="GetItems" />
    </property>
</interface>
