#import paths
<library>
    #for $element in $root.descendants
        #if $element.typeName == 'Namespace' and $element.hasChildrenOfType('Interface', 'Exception', 'Delegate')
            <template path="templates/namespaceTypes.html.tmpl" output="$paths.getPath($element)" root="$element.fqn"/>
        #else if $element.typeName == 'Interface'
            <template path="templates/interfaceDocumentation.html.tmpl" output="$paths.getPath($element)" root="$element.fqn"/>
        #else if $element.typeName == 'Exception'
            <template path="templates/exceptionDocumentation.html.tmpl" output="$paths.getPath($element)" root="$element.fqn"/>
        #else if $element.typeName == 'Delegate'
            <template path="templates/delegateDocumentation.html.tmpl" output="$paths.getPath($element)" root="$element.fqn"/>
        #end if
    #end for
    
    <template path="templates/namespaces.html.tmpl" output="namespaces.html" root="$root.fqn" />
    <template path="templates/types.html.tmpl" output="types.html" root="$root.fqn" />
    <directory path="static" output="" glob="*.*" />
</library>
