<?xml version="1.0"?>
<Config>
    <Styles>
        <Element>
            <LineColor>black</LineColor>
            <FillColor>lightpink2</FillColor>
            <Fill2Color>pink</Fill2Color>
            <ShadowColor>#505050</ShadowColor>
            <NameTextColor>yellow</NameTextColor>
            <TextColor>black</TextColor>
            <NameTextFont>Arial 10</NameTextFont>
            <TextFont>Arial 10</TextFont>
        </Element>
        <Connection>
            <LineColor>black</LineColor>
            <ArrowColor>lightpink2</ArrowColor>
            <ArrowFillColor>pink</ArrowFillColor>
            <NameTextColor>yellow</NameTextColor>
            <TextColor>black</TextColor>
            <NameTextFont>Arial 10</NameTextFont>
            <TextFont>Arial 10</TextFont>
        </Connection>
        <Selection>
            <PointsSize type="int">7</PointsSize>
            <PointsColor>lightgreen</PointsColor>
            <RectangleColor>yellow</RectangleColor>
            <RectangleWidth type="int">3</RectangleWidth>
        </Selection>
        <Drag>
            <RectangleColor>blue</RectangleColor>
            <RectangleWidth type="int">3</RectangleWidth>
        </Drag>
    </Styles>
    <Paths>
        <Root type="path"><Include what="app_path" /></Root>
        <Templates type="path"><Include path="/Paths/Root" />/etc/templates/</Templates>
        <Images type="path"><Include path="/Paths/Root" />/img/</Images>
        <Gui type="path"><Include path="/Paths/Root" />/gui/</Gui>
        <Locales type="path"><Include path="/Paths/Root" />/share/locale/</Locales>
        
        <UserDir type="path">~/.uml_fri</UserDir>
        <UserConfig type="path"><Include path="/Paths/UserDir" />/config.xml</UserConfig>
        <RecentFiles type="path"><Include path="/Paths/UserDir" />/RecentFiles.xml</RecentFiles>
    </Paths>
    <Page>
        <Width type="int">797</Width>
        <Height type="int">1123</Height>
    </Page>
</Config>
